<settings>
   <margins>0</margins>  
   <legend_position>right</legend_position>
   <legend_width>200</legend_width> 
   <text_size>11</text_size>
   
   <number_format>  
      <letters>
         <letter number="1000">K</letter>
         <letter number="1000000">M</letter>
         <letter number="1000000000">B</letter>
      </letters>      
   </number_format>
   <data_sets> 
    <data_set did="0">
      <csv>
         <reverse>false</reverse>
         <separator>,</separator>
         <date_format>YYYY-MM-DD</date_format>
         <decimal_separator>.</decimal_separator>
         
         <% events = @events.group_by(&:date).map {|eg| [eg.first, eg.last.map(&:count)].flatten  } -%>
         <columns>
            <column>date</column>
            
            <%# TODO: set columns based on event names; how to handle empty data columns? -%>
            <column>c0</column>
            <column>c1</column>
            <column>c2</column>
            <column>c3</column>
            <column>c4</column>
         </columns>
         
         <%# TODO: move this to a model: CsvBuilder.new(@events).to_csv -%>
         <data><%= events.inject("") {|csv,event| csv << event.join(',') + "\n"  } -%></data>
       </csv>
    </data_set>
   </data_sets>
  
   <charts>
      <chart cid="0">
         <bg_color></bg_color>
         <border_color>#CCCCCC</border_color>
         <border_alpha>100</border_alpha>
         <grid>
           <x>
             <color>000000</color>
             <alpha>10</alpha>
           </x>
           <y_left>
             <color>000000</color>
             <alpha>10</alpha>
           </y_left>        
         </grid>
         <values>
           <x>
             <enabled>true</enabled>
           </x>
         </values>
         <legend>
           <show_date>true</show_date>
         </legend>
         <column_width>70</column_width>
         <graphs>
         <% @events.group_by(&:name).keys.each_with_index do |event,index| -%>
            <graph gid="<%= index %>">  			
               <type>line</type>
               <title><%= event %></title>
               <% colors = %W[ #FF3300  #00CC33 #FFCC00 #FF0099 #003366 #669933 #CC99CC #333333 #99CC00 ] %>
               <color><%= colors[index] %></color>
               <data_sources>
                 <close>c<%= index %></close>
                </data_sources>
               <legend>
                  <date key="true" title="true">{close}</date>
                  <period key="true" title="true">{close}</period>
               </legend>
               <hidden>false</hidden>
            </graph>
         <% end -%>
         </graphs>
      </chart>  
   </charts>
  
   <data_set_selector>
    <enabled>false</enabled>
   </data_set_selector>
   
   <period_selector>
      <custom_period_enabled>false</custom_period_enabled>
   </period_selector>
   
   <header>
      <enabled>false</enabled>
   </header>
   <background>    
      <color>ffffff</color>
      <alpha>100</alpha>      
   </background>    
   <plot_area>
      <margins>10</margins>
      <bg_color>ffffff</bg_color>
      <bg_alpha>100</bg_alpha>
      <border_alpha>70</border_alpha>
      <border_color>ffffff</border_color>
      <border_width></border_width>
      <corner_radius>8</corner_radius>
   </plot_area>
   <scroller>
      <enabled>true</enabled>
      <height>40</height>    
      <connect>0</connect>
      <graph_data_source>c0</graph_data_source>
      <resize_button_style>arrow</resize_button_style>
      <playback>
         <enabled>1</enabled>
         <speed>3</speed>
      </playback>
   </scroller>
   <date_formats>
      <legend>
         <days><![CDATA[<b>WW DD month, YYYY</b>]]></days>
         <weeks><![CDATA[<b>WW DD month, YYYY</b>]]></weeks>
         <months><![CDATA[<b>month YYYY</b>]]></months>
         <years><![CDATA[<b>YYYY</b>]]></years>
      </legend>
      <x_axis>
         <days>WW DD month</days>
      </x_axis>
   </date_formats>    
</settings>
