<% if current_user.blank_slate? -%>
   <div class='blank_slate'>
      <h1>Thanks for signing up &mdash; only 5 mins to go &hellip;</h1>
      
      <p>
         We haven&apos;t received any data from your application yet. 
      </p>
      
      <p>
         To view your dashboard graph, you have to
      </p>
      
      <ol>
         <li>Add the tracking code to your application</li>
         <li>Create at least one event on your web page</li>
         <li>Deploy your application to production</li>
         <li>Trigger the event in production, e.g. a successfull signup</li>
      </ol>
   </div>
   
   <%= metrixapp_log "Signup" if session[:signup] %>
   <%= metrixapp_log "Blank slate" %>
<% else -%>
   <ol id='nav'>
      <li>
         <%= link_to 'Your dashboard', reports_path %>
      </li>
   </ol>
   
   <%= metrixapp_log "New event" %>
<% end -%>

<h1>Add your tracking code</h1>

<p>
   Copy this tracking code EXACTLY and paste in the head section
   (&lt;head&gt; &hellip; &lt;/head&gt;)
   of of your web page.
</p>

<pre>
&lt;script type='text/javascript'&gt; 
   var protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); 
   document.write(unescape('%3Cscript src="' + protocol + 'www.metrixapp.com/metrix.js" type="text/javascript"%3E%3C/script%3E')); 
&lt;/script&gt;
&lt;script type='text/javascript'&gt; try {  var metrix = new MetrixApp('<%= current_user.account.code %>'); } catch(err) {} &lt;/script&gt;</pre>
</pre>

<h1>Log your events</h1>

<p>
   Once you&apos;ve added the tracking code you can easily log events.
   e.g. on your "Thanks for signing up page", simply add:
</p>

<pre>&lt;script type='text/javascript'&gt; metrix.log("Signup"); &lt;/script&gt;</pre>

<p>
   You can pass in JSON data too. You&apos;ll have to download your data in CSV 
   to slice and dice any arbitrary data you send to us.
</p>

<pre>metrix.log("Signup", {'username':'bob', 'email':'bob@example.org'});</pre>

<h1>Deploy your web page to production</h1>
<p>
   You must send us the data before you can view it, so you&apos;ll have to 
   deploy to production.
</p>

<p>
   To prevent logging from your development envrironment, add a gaurd around your
   javascript logging. e.g. in a Rails application:
</p>

<pre>
   &lt;% if RAILS_ENV == 'production' %&gt;
      metrix.log("Upgrade");
   &lt;% end -%&gt;
</pre>
